# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=1cd0007b15df07480300f1ad3ff08ccd
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_DRIVER=pdo_pgsql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=zeno_auth
DATABASE_USER=postgres
DATABASE_PASSWORD=null
###< doctrine/doctrine-bundle ###


ZENO_AUTH_CODE_SECRET=null
ZENO_OAUTH_JWT_PASS_PHRASE=null
ZENO_OAUTH_JWT_ISSUER=zeno-auth
